@charset "utf-8";


#cart{
	background: #f2f2f2;
	height: 10rem;
	.cart_header{
		width:100%;
		height: 0.45rem;
		background: #fff;
		border-bottom: 1px solid #ddd;
		// position: fixed;
		// top: 0;
		.cart_header_icon{
			width: 0.45rem;
			height: 0.45rem; 
			float: left;
			line-height: 0.45rem;
			text-align: center;
			color: #c1dc6e;
			font-size: 0.16rem;
		}
		h2{
			float: left;
			color: #c1dc6e;
			height: 0.45rem;
			line-height: 0.45rem;
			text-align: center;
			width: 2.9rem;
		}
		span{
			float: right;
			width: 0.4rem;
			height: 0.45rem;
			line-height: 0.45rem;
			text-align: center;
			color: #c1dc6e;
		}
	}
	.cart_main{
		width: 100%;
		height: 1rem;
		background: #fff;
		li{
			display: inline-block;
		}
		.cart_choose{
			width: 0.35rem;
			height: 1rem;
			line-height: 1rem;
			text-align: center;
			vertical-align: top;
			input{
				width: 0.2rem;
				height:0.2rem;
			}
		}
		.cart_pic{
			width: 0.7rem;
			height: 1rem;
			line-height: 1rem;
			text-align: center;
			vertical-align: top;
			img{
				width:0.6rem;
				height: 0.6rem;
				display: block;
				// margin-top: 0.15rem;
			}
		}
		.cart_name{
			width: 2.65rem;
			height: 0.98rem;
			// background: pink;
			.cart_name_name{
				width: 100%;
				height: 0.6rem;
				font-size: 0.1rem;
				line-height: 0.6rem;
				text-align: center;
			}
			.cart_name_mon{
				width: 100%;
				height: 0.4rem;
				line-height: 0.4rem;
				// background: cyan;
				.cart_name_onecost{
					float: left;
					width: 1.25rem;
					padding-left: 0.3rem;
				}
				.cart_cal{
					display: block;
					float: left;
					width: 1rem;
					height: 0.4rem;

					div{
						// display: block;
						float: left;
						width: 0.22rem;
						height: 0.22rem;
						line-height:0.22rem;
						text-align:center;
						border: 1px solid #ddd;
						// margin-top: 0.1rem;
					}
				}
			}
		}
	}
	.cart_footer{
		width: 100%;
		height: 0.45rem;
		background: #fff;
		position: fixed;
		bottom: 0;
		z-index: 5;
		input{
			float: left;
			height: 0.2rem;
			margin-left: 0.1rem;
			width: 0.2rem;
			line-height: 0.2rem;
			margin-top: 0.133rem;
			display: block;
			border-radius: 50%;
		}
		.cart_chooseall{
			float: left;
			line-height: 0.45rem;
			height: 0.45rem;
			margin-right: 1.5rem;
		}
		.cart_pay{
			width: 0.8rem;
			height: 0.45rem;
			background: #ff9600;
			float: right;
			line-height: 0.45rem;
			text-align: center;
			color: #fff;
		}
		.cart_allcost{
			width: 0.75rem;
			height:0.45rem;
			line-height: 0.45rem;
			float: left;

		}
	}
}