.header{
	width: 100%;
	border-bottom:1px solid #eee;
	line-height: 0.37rem;
	position:fixed;
	background:#fff;
	top:0;
	z-index: 2;
	.address{
		width:0.7rem;
		height:0.37rem;
		line-height: 0.37rem;
		// display: inline-block;
		float: left;
		text-align:center;
	}
	.search{
		// display: inline-block;
		float: left;
		margin-left: 0.2rem;
		width:2.50rem;
		// border:1px solid #ccc;
		height:0.37rem;
		line-height: 0.37rem;
		// padding-left:0.3rem;
		color:#ccc;
		position:relative;
		input{
			border: 1px solid #ccc;
			width:2.5rem;
			outline:none;
			border-radius:0.2rem;
			text-align: center;
			height: 0.25rem;
		}
		.mirror{
			position: absolute;
			left:0.1rem;
		}
		.cancel{
			position: absolute;
			right:0.1rem;
		}
	}
}