.header{
	height:0.37rem;
	border:1px solid #eee;
	.address{
		width:0.7rem;
		height:0.37rem;
		line-height: 0.37rem;
		display: inline-block;
		text-align:center;
	}
	.search{
		display: inline-block;
		width:2.50rem;
		border:1px solid #ccc;
		height:0.25rem;
		border-radius:0.2rem;
		line-height: 0.25rem;
		padding-left:0.3rem;
		color:#ccc;
		position:relative;
		input{
			border:0;
			width:2.5rem;
			outline:none;
		}
		.mirror{
			position: absolute;
			left:0.1rem;
		}
		.cancel{
			position: absolute;
			right:0.1rem;
		}
	}
}