.right_storebaby{
	// background:#f00;
	margin-bottom:0.35rem;
	h2{
		height:0.38rem;
		line-height: 0.38rem;
		text-align: center;
		font-size:14px;
		font-weight: lighter;
	}
	.recommend{
		font-size:16px;
		font-weight: bold;
		height:0.35rem;
		line-height: 0.35rem;
		padding-left:0.05rem;
	}
	.storeUl{
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			.storeLi{
				width:33%;
				display: inline-block;
				text-align: center;
				img{
					height:0.48rem;
					width:0.48rem;
				}
				.font{
					display: block;
				}
			}
		}
}